@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

:root {
  --bg-primary: #fe965c;
  --bg-secondary: #242426;
  --bg-secondarylight: #161618;
  --border-grey: #e4e9ed;
  --bg-btn: #b3fd12;
  --text-white: #fff;
  --text-black: #000;
  --text-grey: #74787b;
  --text-grey1: #868b8d;
  --bg-black: #000;
  --bg-white: #fff;
  --bg-dot1: #90761e;
  --bg-dot2: #66900a;
  --ff-ubuntu: "Ubuntu", sans-serif;
  --ff-protest-strike-regular: "Protest Strike", sans-serif;
}

body {
  background-color: var(--bg-black);
  font-family: var(--ff-ubuntu) !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px;
}

.fs-50 {
  font-size: 50px;
}

.fs-200 {
  font-size: 200px;
}

.bg-new-secondary {
  background-color: var(--bg-secondary);
}

.bg-new-secondarylight {
  background-color: var(--bg-secondarylight);
}

.link-color {
  color: var(--bg-btn);
}

.text-themegrey {
  color: var(--text-grey);
}

.MainLogo {
  @apply font-[700] uppercase;
  font-size: 30px;
  font-family: var(--ff-protest-strike-regular) !important;
  color: var(--text-white);
  letter-spacing: 1.5px;
  line-height: normal;
}

.MainLogo span {
  color: var(--bg-btn);
}

.Page-Title {
  @apply fs-18 font-[700] w-full flex my-5;
  color: var(--text-white);
  line-height: normal;
}

.Page-subTitle {
  @apply fs-14 font-[400] w-full;
  color: var(--border-grey);
  line-height: normal;
}

.form-group {
  @apply relative w-full mb-6 flex flex-col;
}

.form-lbl {
  @apply fs-14 font-[600] w-full flex;
  color: var(--text-white);
  line-height: normal;
  margin-bottom: 7px;
}

.input-extend-group {
  @apply w-full relative;
}

.input-extend-group .form-input {
  padding-right: 40px;
}

.input-extend-group .material-symbols-outlined {
  @apply absolute right-[10px] top-[50%] z-10 link-color;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

.form-input {
  @apply fs-14 font-[400] w-full bg-new-secondarylight border-0;
  height: 42px;
  padding: 5px 10px;
  color: var(--text-white);
  line-height: normal;
  border: 1px solid var(--bg-secondary);
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-input:focus {
  outline: none;
  box-shadow: none;
}

.form-input:-webkit-autofill {
  @apply bg-new-secondary;
  color: var(--text-white) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.form-input:-webkit-autofill::first-line {
  color: var(--text-white) !important;
}

.primary-btn,
.secondary-btn {
  @apply fs-14 font-[600] flex items-center justify-center;
  background-color: var(--bg-btn);
  border: 1px solid var(--bg-btn);
  outline: none;
  box-shadow: none;
  color: var(--text-black);
  border-radius: 10px;
  min-width: 90px;
  height: 48px;
  padding: 5px 15px;
}

.secondary-btn {
  background-color: transparent;
  color: var(--bg-btn);
}

.dashboard-content-main-wrapper::before {
  background: url('./assets/app-mainscreen-bg.png') no-repeat;
  width: calc(100% + 40px) !important;
  height: 100vh;
  background-size: 100%;
  margin: -20px -20px 0 -20px;
  content: "";
  position: absolute;
  top: 0;
}

.dashboard-content-wrapper {
  @apply w-full relative z-10;
  /* background: linear-gradient(to bottom, transparent 0%, #000 20%, #000 30%, #000 40%, #000 50%, #000 60%, #000 70%, #000 80%, #000 90%, #000 100%); */
  /* padding: 230px 20px 60px; */
}

.dashboard-logo-wrapper {
  @apply w-full flex items-center justify-center relative z-10;
  /* background: linear-gradient(to bottom, #000 0%, #000 10%, #000 20%, #000 30%, #000 40%, #000 50%, #000 60%, transparent 100%); */
  /* padding: 20px 20px 90px; */
}

.bookingform-logo-wrapper {
  @apply flex items-center justify-center;
  margin: -20px -20px 0 -20px;
  background-color: var(--bg-secondary);
  padding: 10px;
  border-radius: 0 0 50px 50px;
}

.confirmation-wrapper {
  @apply w-full flex flex-col items-center justify-center;
  height: calc(100vh - 40px);
}

::-webkit-calendar-picker-indicator {
  visibility: hidden;
}

.h-full-min-p-tb {
  height: calc(100vh - 40px);
}

.modal {
  @apply fixed left-0 bottom-0 w-full;
  background: var(--bg-black);
  padding: 40px 30px;
  border-radius: 30px 30px 0 0;
  max-width: 400px;
  z-index: 9999;
}

.modal-overlay {
  background: rgba(36, 36, 36, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.react-time-picker__clock-button,
.react-time-picker__clear-button {
  display: none;
}

.react-time-picker__wrapper {
  border: 0 none !important;
}

.userInfo-wrapper {
  @apply w-full p-6 bg-new-secondary mb-10;
  border-radius: 20px;
}

.locationBox-wrapper {
  @apply relative w-full;
}

.locationBox-wrapper p {
  @apply relative pl-[25px] mb-[40px];
}

.locationBox-wrapper p::before {
  @apply absolute left-0 top-[2px] w-[12px] h-[12px] rounded-full;
  content: "";
  background-color: var(--bg-dot1);
  border: 1px solid var(--text-grey1);
  z-index: 1;
}

.locationBox-wrapper p:last-child:before {
  background-color: var(--bg-dot2);
}

.locationBox-wrapper p::after {
  @apply absolute left-[5px] top-[6px] w-[2px] h-[60px];
  content: "";
  background-color: var(--text-grey1);
  z-index: 0;
}

.locationBox-wrapper p:last-child::after {
  display: none !important;
}